<ion-content class="bg">
    <div class="bgHeader" style="margin-bottom:200px">
        <ion-grid>
            <ion-row>
                <ion-col>
                    <ion-label style="text-align: left">
                        <ion-icon name="star">&nbsp;&nbsp;&nbsp;</ion-icon>Niveau 42</ion-label>
                </ion-col>
                <ion-col>
                    <ion-label style="text-align: right">
                        <ion-icon name="logo-usd">&nbsp;</ion-icon>42</ion-label>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col>
                    <ion-label style="text-align: left" *ngIf="currentUser != undefined && currentUser != null && currentUser.name != undefined">
                        <ion-icon name="person">&nbsp;&nbsp;&nbsp;</ion-icon>{{ currentUser.name }}
                    </ion-label>
                </ion-col>
                <ion-col>
                    <ion-label style="text-align: center">
                        <ion-icon name="trophy">&nbsp;</ion-icon>5</ion-label>
                </ion-col>
                <ion-col>
                    <button ion-button icon-only clear (click)="parametersEvent()" id="settings" style="text-align: right"><ion-icon name="settings"></ion-icon></button>
                </ion-col>
            </ion-row>
        </ion-grid>
    </div>
    <div class="news-card" *ngIf="params != []">
        <ion-card responsive-sm wrap *ngFor="let item of topics; let i = index" [navPush]="pushNews" [navParams]="params[i]">
            <ion-grid>
                <ion-row>
                    <ion-col>
                        <img src="http://localhost:3000/{{item.Slug}}">
                        <ion-card-content>
                            <ion-card-title>{{ item.Title }}</ion-card-title>
                            <p>{{ item.Description }}</p>
                        </ion-card-content>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-card>
    </div>
</ion-content>
<page-footer></page-footer>