page-shop {
    $primaryColor: "primary";
    $secondaryColor: #757575;
    background-image: url(../assets/imgs/test.png);
    .active {
        color: $primaryColor;
    }
    .unactive {
        color: $secondaryColor;
    }
    #logo {
        width: 7em;
    }
    .footer {}
    .footer-toolbar {
        text-align: center;
    }
    div.gold-user {
        color: white;
        background-color: rgba(239, 72, 14, 0.6);
        position: fixed;
        top: 60px;
        right: 0;
        padding: 2px 10px;
        border-radius: 5px;
        z-index: 1;
    }
    button.buy-button {
        position: absolute;
        top: 22%;
        height: 51%;
        left: 0;
        width: 49%;
        margin-left: 28%;
        background-image: url(../assets/imgs/testBooster.png);
        background-size: contain;
        background-color: transparent;
        span.button-inner {
            align-items: flex-end;
            padding-bottom: 20px;
        }
    }
    div.booster-block {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        display: none;
        opacity: 0;
        img.booster-img {
            position: fixed;
        }
        div.line {
            width: 0%;
            height: 2px;
            background-color: white;
            position: fixed;
            left: 0;
            margin-left: 24%;
            top: 50%;
            box-shadow: 0px 1px 1px #f1f1f1, 0px 2px 2px #e1e1e1, 0px 3px 3px #d1d1d1, 0px -1px 1px #f1f1f1, 0px -2px 2px #e1e1e1, 0px -3px 3px #d1d1d1;
        }
    }
    div.booster-block.show {
        display: block;
    }
    div.cards-list {
        position: fixed;
        top: 0;
        width: 100%;
        left: 0;
        height: 100%;
        opacity: 0;
        display: none;
        img.cards-booster {
            width: 48%;
            margin-left: 26%;
            height: auto;
            position: fixed;
            margin-top: 54%;
        }
    }
    div.cards-list.show {
        display: block;
    }
    div.name-block.close-button-animation {
        position: fixed;
        width: 100%;
        max-height: 40px;
        font-size: 20px;
        display: none;
    }
    button.close-button-animation.show {
        display: block;
    }
    .extension {
        width: 90%;
        margin-left: 5%;
        background-color: rgba(255, 255, 255, 0.2);
        border-radius: 5px;
        margin-top: 10px;
    }
    .item {
        padding-bottom: 25px;
        margin-bottom: 10px;
        margin: auto;
    }
    div.name-block {
        padding: 7px 0px;
        background-color: rgba(28, 46, 70, 0.65);
        -webkit-box-shadow: inset 0 0 0 1px rgba(91, 118, 155, 0.34);
        box-shadow: inset 0 0 0 1px rgba(91, 118, 155, 0.34);
        opacity: 1;
        -webkit-transition: opacity 200ms ease, box-shadow 200ms ease;
        -webkit-transition: opacity 200ms ease, -webkit-box-shadow 200ms ease;
        transition: opacity 200ms ease, -webkit-box-shadow 200ms ease;
        transition: opacity 200ms ease, box-shadow 200ms ease;
        transition: opacity 200ms ease, box-shadow 200ms ease, -webkit-box-shadow 200ms ease;
        font-family: 'Roboto Condensed', sans-serif;
        color: #fff;
        font-weight: 500;
        letter-spacing: 1px;
        text-decoration: none;
        text-transform: uppercase;
        width: calc(100% - 10px);
        position: absolute;
        bottom: 0;
        font-size: 10px;
        text-align: center;
        max-height: 25px;
        div.corner-upper-left {
            position: absolute;
            left: 0px;
            top: 0px;
            width: 10px;
            height: 10px;
            border-top: 1px solid #5b769b;
            border-left: 1px solid #5b769b;
        }
        div.corner-upper-right {
            position: absolute;
            top: 0px;
            right: 0px;
            width: 10px;
            height: 10px;
            border-top: 1px solid #5b769b;
            border-right: 1px solid #5b769b;
        }
        div.corner-bottom-right {
            position: absolute;
            right: 0px;
            bottom: 0px;
            width: 10px;
            height: 10px;
            border-right: 1px solid #5b769b;
            border-bottom: 1px solid #5b769b;
        }
        div.corner-bottom-left {
            position: absolute;
            left: 0px;
            bottom: 0px;
            width: 10px;
            height: 10px;
            border-bottom: 1px solid #5b769b;
            border-left: 1px solid #5b769b;
        }
    }
    .confirm-black-screen {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        display: none;
    }
    .confirm-payment {
        position: fixed;
        top: 0;
        left: 0;
        display: none;
        .booster-img {
            width: 100%;
            position: absolute;
            z-index: -1;
        }
        .name-block {
            width: 60%;
            margin-left: 20%;
            background-color: #1c2e46;
        }
        .box {
            color: white;
            width: 80%;
            margin-left: 10%;
            background-color: rgba(28, 46, 70, 0.82);
            border: 1px solid #ef480e;
            div.text {
                display: table;
                height: 90%;
                width: 100%;
                text-align: center;
                span {
                    display: table-cell;
                    vertical-align: middle;
                }
            }
            .name-block {
                width: 39%;
            }
            .name-block.cancel {
                margin: 0;
                -webkit-box-shadow: inset 0 0 0 1px rgba(255, 67, 67, 0.34);
                box-shadow: inset 0 0 0 1px rgba(255, 67, 67, 0.34);
                div.corner-upper-left {
                    border-top: 2px solid red;
                    border-left: 2px solid red;
                }
                div.corner-upper-right {
                    border-top: 2px solid red;
                    border-right: 2px solid red;
                }
                div.corner-bottom-right {
                    border-right: 2px solid red;
                    border-bottom: 2px solid red;
                }
                div.corner-bottom-left {
                    border-bottom: 2px solid red;
                    border-left: 2px solid red;
                }
            }
            .name-block.valid {
                margin-left: 40%;
                -webkit-box-shadow: inset 0 0 0 1px rgba(0, 99, 19, 0.33);
                box-shadow: inset 0 0 0 1px rgba(0, 99, 19, 0.33);
                div.corner-upper-left {
                    border-top: 2px solid green;
                    border-left: 2px solid green;
                }
                div.corner-upper-right {
                    border-top: 2px solid green;
                    border-right: 2px solid green;
                }
                div.corner-bottom-right {
                    border-right: 2px solid green;
                    border-bottom: 2px solid green;
                }
                div.corner-bottom-left {
                    border-bottom: 2px solid green;
                    border-left: 2px solid green;
                }
            }
        }
    }
}