page-ranking {
  $primaryColor: "primary";
  $secondaryColor: #757575;

  .active {
    color: $primaryColor;
  }

  .unactive {
    color: $secondaryColor;
  }

  #logo {
    width: 7em;
  }

  .footer {}

  .footer-toolbar {
    text-align: center;
  }
}
