page-create-modify-deck {
    .filter-container {
        display: none;
        -webkit-transition: top 2s;
        transition: top 2s;
        .filters-title {
            color: white;
            text-align: center;
            background-color: #ef480e;
            padding: 10px 0;
            margin: 0;
        }
    }
    .filter-container.show {
        display: block;
        position: fixed;
        top: 8rem;
        left: 3%;
        width: 90%;
        background-color: white;
    }
    .filter-black-screen {
        display: none;
    }
    .filter-black-screen.show {
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.75);
    }
}